* {
    box-sizing: border-box;
    background-color: beige;
}

@font-face {
    font-family: Pacifico;
    src: url(Fonts/Pacifico/Pacifico-Regular.ttf);
}

table, th, td {
    border: 1px solid;
}

.waltpicture {
    padding:10px;
    text-align: center;
}

.mickey:hover {
    color:royalblue
}

.minnie:hover {
    color:pink
}

.pluto:hover {
    color: brown
}

.donald:hover {
    color:blue
}

.firstparagraph {
    text-align: left;
    font-family: Merriweather;
}

.disneylogo {
    padding: 30px;
    margin: 10px;
    position: relative
}

.mickeygif {
position: relative;
left: 0px;
top: 30px;
float: left;
}

.allstarted {
    position: relative;
    bottom: 40px;
}


.films {
    background-color: lightgrey
}

.year {
    background-color: lightgrey
}

article {
    margin: 50px;
    font-family: Merriweather;
}

section {
    margin: 20px;
    font-family: Pacifico;
}

table {
    color: #17202A;
    background-color: #D7BDE2;
}