

table, th, td {
    border: 1px solid;
}

.waltpicture {
    padding:10px;
    text-align: center;
}

.mickey:hover {
    color:royalblue
}

.minnie:hover {
    color:pink
}

.pluto:hover {
    color: brown
}

.donald:hover {
    color:blue
}

.firstparagraph {
    padding:12px;
    text-align: left;
}

.disneylogo {
    text-align: center;
    padding: 50px;
    margin: 50px;
}

.films {
    background-color: lightgrey
}

.year {
    background-color: lightgrey
}